APP_ENV=local
APP_DEBUG=true

DATABASE_URL=pgsql:host=localhost;port=5432;dbname=nodeswars
DATABASE_USER=nodeswars
DATABASE_PASSWORD=

SENTRY_DSN=

# Base64 encoded Ed25519 signing keys will go here later.
SERVER_SIGNING_KEY=
